<div>{{ image_output }}</div>
<p>Images are used in multiple places on this site and are often cropped different depending on the element and the visitor's device. Above is a selection of the most commonly used crops. As best as possible, please make sure that your image looks reasonable across these crops. To modify the crop being used click 'edit' and head to the 'crop image' section.</p>