{#
/**
 * @file
 * Default theme implementation to list embeddable types available for adding content.
 *
 * This list is displayed on the Add embeddable admin page.
 *
 * Available variables:
 * - types: A list of embeddable types, each with the following properties:
 *   - add_link: Link to create a piece of content of this type.
 *   - description: Description of this type of content.
 *
 * @see template_preprocess_embeddable_add_list()
 *
 * @ingroup themeable
 */
#}

{% if content %}
  <ul class="admin-list">
    {% for type in types %}
      <li class="clearfix"><a href="{{ type.url }}"><span class="label">{{ type.label }}</span><div class="description">{{ type.description }}</div></a></li>
    {% endfor %}
  </ul>
{% else %}
  <p>
    {% set create_content = path('embeddable.type_add') %}
    {% trans %}
      You have not created any embeddable types yet. Go to the <a href="{{ create_content }}">embeddable type creation page</a> to add a new embeddable type.
    {% endtrans %}
  </p>
{% endif %}